<div id="header" class="header">
</div>

<br/>

<div id="container" class="container">
    <div id="js-boilerplate-app"></div>
</div>
<a href="#">Contact List</a> | <a href="#add">New Contact</a>

<div id="footer" class="footer">
</div>

